body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

main {
    display: flex;
    flex-wrap: wrap;
} /*this should be here for flex to work*/

.cherries{
    
    position: absolute;
    width: 360px;
    height: 246px;
    left: 141px;
    top: 571px;

    background: #2B3566;
    border-radius: 20px;
} /*A cherry box*/